<div>
    <div class="container">
        <div class="row">
            <div class="card col-sm-4 " style="overflow:scroll;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="col-xs-9">
                      <input type="text" placeholder="Enter Friend's name.." class="form-control" ng-model="friend" size="50"/>
                    </div>
                    <div class="col-xs-3">
                      <button class="btn btn-info btn-block" ng-click="createConversation(friend)">New Conversation</button>
                    </div>
                </li>
                
                <li class="list-group-item" ng-repeat="conversation in conversations">
                    <button class="btn btn-sm" ng-click="selectConversation(conversation.uid)">
                        <div  class="d-flex w-100 justify-content-between">
                            <div ><h5 class="mb-1">{{conversation.other}}</h5></div>
                        </div> 
                    </button>
                    <div ng-show="conversation.hasNewMessages"><h5 class="mb-1">new!!</h5></div>
                    
                </li>                
              </ul>
            </div>
    
            
            <div class="col-sm-8">
              <div class="chatbody">
        
                <table class="table">
                  <tr>
                    <td>Welcome</td>
                    <td>{{username}}</td>
                  </tr>
                </table>
  

                <table ng-repeat="msg in messageList" class="table">
                    <tr>
                      <td>{{msg.text}}
                      </td>
                      <td>{{msg.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
                    </tr>
                  </table>

        
              </div>
    
              <div ng-show="selectedConversation" class="row">
                <div class="col-xs-9">
                  <input type="text" placeholder="Type your message here..." class="form-control" ng-model="message" size="50"/>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-info btn-block" ng-click="sendMessage(message)">Send</button>
                </div>
              </div>
    
            </div>
        </div>
    </div>
  </div>